/AnalyticsCounter.class
/ISymptomReader.class
/ReadSymptomDataFromFile.class
/writeToFile.class
/WriteToFile.class
/CalculateOccurances.class
/CalculateSymptomsOccurances.class
/WriterResultToFile.class
